.main {
  padding: 0px !important;
  margin: 0px !important;
  text-align: center !important;
}

.subTitleText {
  margin-top: 27px !important;
}
.app {
  padding: 0px !important;
  color: #f9f9f9 !important;
  text-align: center;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

button {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid;
  background-color: transparent;
  margin: 1rem;
  outline: none;
  padding-bottom: 20px;
}
button:focus {
  background: transparent;
}

button:active {
  outline: none !important;
  outline-offset: 0px;
}
.numbersWrapper {
  margin: auto;
  margin-top: -15px;
  text-align: center;
  width: 250px;
  height: 160px;
}
.numbers {
  letter-spacing: .1rem;
  font-size: 27px;
  word-wrap: break-word;
}

.headerText {
  margin-top: 20px !important;
}
.pileNumbers {
  font-size: 20px;
}

.center {
height: 100vh;
display: flex;
margin-top: -55px;
align-items: center;
}